Source: debpool
Section: devel
Priority: extra
Maintainer: DebPool Developers <debpool-devel@lists.alioth.debian.org>
Uploaders: Magnus Holmgren <holmgren@lysator.liu.se>, Hilko Bengen <bengen@debian.org>
Standards-Version: 3.8.0
Build-Depends: debhelper (>= 5)
Vcs-Git: git://git.debian.org/git/debpool/debpool.git
Vcs-Browser: http://git.debian.org/?p=debpool/debpool.git
Homepage: http://wiki.debian.org/debpool
DM-Upload-Allowed: yes

Package: debpool
Architecture: all
Depends: ${perl:Depends}, libcompress-bzip2-perl, libproc-daemon-perl, libarchive-ar-perl
Recommends: gnupg, liblinux-inotify2-perl
Description: Debian package archive maintenance utility
 DebPool is a package archive maintenance utility. It is designed with the goal
 of keeping the number of dependencies down to a minimum. It is intended to be
 a lightweight replacement for the full Debian archival scripts, in the
 tradition of debarchiver and mini-dinstall, but using a pool layout and
 avoiding external dependencies.
 .
 It is capable of all of the following:
   * Tracking multiple distributions (however, it does *not* include
     unstable -> testing promotion scripts).
   * Generating Release files
   * Verifying package signatures (requires gnupg).
   * Signing Release files (requires gnupg).
   * Running in single-pass or daemon modes.
   * Process incoming packages using Inotify.
