Source: debpool
Section: devel
Priority: extra
Maintainer: DebPool Developers <debpool-devel@lists.alioth.debian.org>
Uploaders: Andres Mejia <mcitadel@gmail.com>, Magnus Holmgren <holmgren@lysator.liu.se>
Standards-Version: 3.7.3
Build-Depends: debhelper (>= 4)
Vcs-Git: git://git.debian.org/git/debpool/debpool.git
Vcs-Browser: http://git.debian.org/?p=debpool/debpool.git
Homepage: http://wiki.debian.org/debpool
DM-Upload-Allowed: yes

Package: debpool
Architecture: all
Depends: ${perl:Depends}
Recommends: gnupg, libdigest-sha-perl, libproc-daemon-perl, liblinux-inotify2-perl, libcompress-zlib-perl
Description: pool-based Debian package archiver
 DebPool is a package archive maintenance utility designed with a goal of
 removing any dependency on code not shipped as part of the core Debian
 system.
 .
 It is capable of all of the following:
   * Tracking multiple distributions (however, it does *not* include
     unstable -> testing promotion scripts).
   * Generating Release files (requires libdigest-sha-perl)
   * Verifying package signatures (requires gnupg).
   * Signing release files (requires Release files and gnupg).
   * Running in single-pass or daemon modes.
   * Process incoming packages using Inotify (requires liblinux-inotify2-perl)
 .
 DebPool is intended to be a lightweight replacement for the full Debian
 archival scripts, in the tradition of debarchive and mini-dinstall, but
 using a pool layout and avoiding external dependencies.
