#!/usr/bin/make -f
# This debian/rules file is provided as a template for normal perl
# packages. It was created by Marc Brockschmidt <marc@dch-faq.de> for
# the Debian Perl Group (http://pkg-perl.alioth.debian.org/) but may
# be used freely wherever it is useful.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# If set to a true value then MakeMaker's prompt function will
# always return the default without waiting for user input.
export PERL_MM_USE_DEFAULT=1

PERL   ?= /usr/bin/perl
PACKAGE = $(shell dh_listpackages)
TMP     = $(CURDIR)/debian/$(PACKAGE)
DEBPOOL_VERSION = $(shell dpkg-parsechangelog | grep -e '^Version:' | cut -d ' ' -f 2)

build: build-stamp
build-stamp:
	dh_testdir
	# Add commands to compile the package here
	$(PERL) Makefile.PL INSTALLDIRS=vendor \
        VERSION=$(DEBPOOL_VERSION)
	$(MAKE)
	# $(MAKE) test
	pod2man --name="DebPool::Config" \
		--center="DebPool Configuration" \
		--release="debpool v$(DEBPOOL_VERSION)" \
		--date=$(shell date +%Y-%m-%d) \
		--section=5 \
		lib/DebPool/Config.pm \
		DebPool::Config.5
	pod2man --name="debpool" \
		--center="debpool" \
		--release="debpool v$(DEBPOOL_VERSION)" \
		--date=$(shell date +%Y-%m-%d) \
		--section=1 \
		bin/debpool \
		debpool.1
	touch $@

clean:
	dh_testdir
	dh_testroot
	dh_clean build-stamp install-stamp DebPool::Config.5 debpool.1
	# Add commands to clean up after the build process here
	[ ! -f Makefile ] || $(MAKE) realclean

install: build install-stamp
install-stamp:
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	# Add commands to install the package into $(TMP) here
	$(MAKE) install DESTDIR=$(TMP) PREFIX=/usr
	[ ! -d $(TMP)/usr/lib/perl5 ] || \
		rmdir --ignore-fail-on-non-empty --parents --verbose \
		$(TMP)/usr/lib/perl5
	dh_install
	touch $@

binary-arch:
# We have nothing to do here for an architecture-independent package

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installexamples
	dh_installdocs
	dh_installman DebPool::Config.5 debpool.1
	dh_installchangelogs
	dh_installinit
	dh_installlogrotate
	dh_perl
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
