#! /usr/bin/make -f

build:
	dh_testdir
	[ -e build-stamp ] || \
		mkdir debian/tmp && \
		pod2man --name="DebPool::Config" \
			--center="DebPool Configuration" \
			--release="debpool v0.2.4" \
			--section=5 \
			share/DebPool/Config.pm \
			debian/tmp/DebPool::Config.5 && \
		touch build-stamp

binary-indep: build
	dh_testdir
	dh_testroot
	dh_installdirs -i
	dh_install -i
	dh_installdocs -i
	dh_installexamples -i
	dh_installchangelogs -i
	dh_installman -i
	dh_installinit -i
	dh_installlogrotate -i
	dh_perl -i
	dh_compress -i
	dh_fixperms -i
	dh_md5sums -i
	dh_gencontrol -i
	dh_installdeb -i
	dh_builddeb -i

binary-arch:

binary: binary-indep binary-arch

clean:
	dh_testdir
	dh_testroot
	[ ! -f build-stamp ] || rm build-stamp
	dh_clean

.PHONY: binary binary-arch binary-indep build clean
